APP_ID = "14362"
API_HASH = "ace6a985ca357bdfff"
BOT_TOKEN = "7608093173:ATVebc6XWdmxuI98"
DB_URL = "postgresql://username:pass@localhost:5432/dbname" #change username, password and dbname
OWNER_ID = 802840
ADMINS = 687976
DB_CHANNELS = -1001534 -10002
PM_SUPPORT = ON
GROUP_SUPPORT = ON
INLINE_SUPPORT = ON
INLINE_ADMIN_ONLY = OFF
AUTH_GRPS = 
DELIVERY_CHANNELS = -1002666980708|https://t.me/+XdWcVkC-MeE0NWRl
POST_CHANNELS =
MAX_LIST_ELM = 
LONG_IMDB_DESCRIPTION = 
